// Place all the styles related to the Avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-out {
  text-align: center;
}

.avatar-panel {
  display: inline-block;
  width: 300px;
}

.avatar-bg {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: url(asset-path('avatar-bg.png'));
  margin-bottom: 10px;
}
